.container {
  flex: 2;
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.container h2 {
  font-style: italic;
}
.box {
  margin-top: 20px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
}
