.container {
  flex: 2;
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.container h2 {
  font-style: italic;
}

.card {
  width: 100%;
  background: white;
  padding: 0 18px;
  padding-top: 20px;
  padding-bottom: 40px;
  color: black;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
