.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.2s ease;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.formModal {
  display: flex;
  gap: 15px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: black;
}

.input {
  width: 35%;
  padding: 12px 15px;
  font-size: 15px;
  border-radius: 12px;
  border: 1px solid #dcdcdc;
  margin-bottom: 25px;
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.addBtn {
  background: #f4b740;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  padding: 15px 25px;
  margin-right: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.cancelBtn {
  flex: 1;
  background: #e6e6e6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  padding: 15px 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
