.dashboardContainer {
  width: 100%;
  padding: 50px;
}

.pageTitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cardsRow {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
  background-color: #5e5d5d;
  padding: 50px;
  border-radius: 10px;
}

.bottomSection {
  display: flex;
  gap: 20px;
}

/* legendContainer */
.legendContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  gap: 30px;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.box {
  width: 14px;
  height: 14px;
  border-radius: 2px;
}

.food {
  background-color: #a000ff;
}

.entertainment {
  background-color: #ff8c00;
}

.travel {
  background-color: #ffd700;
}

.label_food {
  color: #a000ff;
  font-size: 14px;
}

.label_entertainment {
  color: #ff8c00;
  font-size: 14px;
}

.label_travel {
  color: #ffd700;
  font-size: 14px;
}

@media (max-width: 768px) {
  .pageTitle {
    text-align: center;
  }
  .dashboardContainer {
    padding: 15px;
  }

  .cardsRow {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .legendContainer {
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
    gap: 10px;
  }

  .item {
    gap: 8px;
  }

  .box {
    width: 12px;
    height: 12px;
  }

  .pageTitle {
    font-size: 26px;
  }

  .label_food,
  .label_entertainment,
  .label_travel {
    font-size: 12px;
  }

  .bottomSection {
    flex-direction: column;
  }
}
