.container {
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 30%;
}

.container h2 {
  font-style: italic;
}

.box {
  margin-top: 20px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  display: flex;
  align-items: center;
  margin: 25px 0;
  width: 100%;
}

.label {
  width: 120px;
  font-size: 15px;
}

.bar {
  height: 20px;
  border-radius: 4px;
}
